In [2]:
import pandas as pd

In [4]:
data = {"Day":["Monday","Tuesday","Wednesday","Thursday","Friday"]}
dataset = pd.DataFrame(data)
dataset

         Day
0     Monday
1    Tuesday
2  Wednesday
3   Thursday
4     Friday

In [8]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le = LabelEncoder()
dataset["En_Day"] = le.fit_transform(dataset["Day"])

In [26]:
dataset

         Day  En_Day
0     Monday       1
1    Tuesday       3
2  Wednesday       4
3   Thursday       2
4     Friday       0

In [28]:
dataset2 = pd.read_excel("For encoding prac.xlsx")
dataset2

,Row,Day,Day.Of.Week,Date,Page.Loads,Unique.Visits,First.Time.Visits,Returning.Visits
0,1,Sunday,1,2014-09-14,2146,1582,1430,152
1,2,Monday,2,2014-09-15,3621,2528,2297,231
2,3,Tuesday,3,2014-09-16,3698,2630,2352,278
3,4,Wednesday,4,2014-09-17,3667,2614,2327,287
4,5,Thursday,5,2014-09-18,3316,2366,2130,236
...,...,...,...,...,...,...,...,...
2162,2163,Saturday,7,2020-08-15,2221,1696,1373,323
2163,2164,Sunday,1,2020-08-16,2724,2037,1686,351
2164,2165,Monday,2,2020-08-17,3456,2638,2181,457
2165,2166,Tuesday,3,2020-08-18,3581,2683,2184,499
2166,2167,Wednesday,4,2020-08-19,2064,1564,1297,267

In [32]:
le2  =LabelEncoder()
dataset2["Day"] = le2.fit_transform(dataset2["Day"])
dataset2.head(10)

,Row,Day,Day.Of.Week,Date,Page.Loads,Unique.Visits,First.Time.Visits,Returning.Visits,En_Day
0,1,Sunday,1,2014-09-14,2146,1582,1430,152,3
1,2,Monday,2,2014-09-15,3621,2528,2297,231,1
2,3,Tuesday,3,2014-09-16,3698,2630,2352,278,5
3,4,Wednesday,4,2014-09-17,3667,2614,2327,287,6
4,5,Thursday,5,2014-09-18,3316,2366,2130,236,4
5,6,Friday,6,2014-09-19,2815,1863,1622,241,0
6,7,Saturday,7,2014-09-20,1658,1118,985,133,2
7,8,Sunday,1,2014-09-21,2288,1656,1481,175,3
8,9,Monday,2,2014-09-22,3638,2586,2312,274,1
9,10,Tuesday,3,2014-09-23,4462,3257,2989,268,5